@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-color{
  font:bolder
}

.body {
 background-image: url("./background.jpg"); 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
}

.label{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.MainContainer{
  display: flex;
align-items: center;
flex-direction: column;
height:90vh;
width: 30vw;
background: rgba(255, 255, 255, 0.15);
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
backdrop-filter: blur(8.5px);
-webkit-backdrop-filter: blur(8.5px);
border-radius: 10px;
color: #ffffff;
text-transform: uppercase;
letter-spacing: 0.4rem;

@media only screen and (min-width: 360px) {
  width: 80vw;
  height: 90vh;

  h4 {
    font-size: small;
  }
}
@media only screen and (min-width: 411px) {
  width: 80vw;
  height: 90vh;
}

@media only screen and (min-width: 768px) {
  width: 80vw;
  height: 80vh;
}
@media only screen and (min-width: 1024px) {
  width: 70vw;
  height: 50vh;
}
@media only screen and (min-width: 1280px) {
  width: 30vw;
  height: 80vh;
}

}
.image-upload{
    margin: auto;
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 10px;
    background-color: rgb(248, 85, 85);
    text-align: center;
    cursor: pointer;
  }