@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
.Multiselect {
  height: 100px;
  width: 8000px;
  background: rgba(240, 204, 204, 0.15);
   box-shadow: 0 1px 1px 0 rgba(31, 38, 135, 0.37); 
  border-radius: 1rem;
  padding: 1rem;
margin: 1%;
border: none;
outline: none;
color: #2c3338;
font-size: 0.8rem;
font-weight: bold;
}
.styleMultiselect {
  width: 800px;
  font-size: 20px;
  font-family: Arial, sans-serif;
}


.styleMultiselect2 {
  width: 800px;
  font-size: 10px;
  font-family: Arial, sans-serif;
  align-items: center;
justify-content: center;
}

.body44 {
   /* background-image: url("./background.jpg");   */
   display: flex;
  /* justify-content: center;
  align-items: center;  */
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif; 
}
.InputContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 26%;
  width: 100%;
  
}

.InputContainer p {
  font-size: 16px;
  /* font-weight: bold; */
  margin-bottom: 10px;
}
.InputContainer p:last-child {
  margin-bottom: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

thead {
  background-color: #f8d3f5;
}

th {
  text-align: left;
  padding: 8px;
}


td {
  padding: 10px;
  border: 1px solid #ae99df;
}

tr:nth-child(even) {
  background-color: #e9e3e9;
}

.InputContainer3{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 58%;
  width: 100%;
  
}
.Input2{

border-radius: 2rem;
width: 20%;
height: 3rem;
padding: 1rem;
margin: 1%;
border: none;
outline: none;
color: #2c3338;
font-size: 0.6rem;
font-weight: bold;
}

.NameInput{

  border-radius: 2rem;
  width: 80%;
  height: 3rem;
  padding: 1rem;
  border: none;
  outline: none;
  color: rgb(67, 101, 211);
  font-size: 0.8rem;
  font-weight: bold;
  font-family: Arial, sans-serif;

  }
.Input{
  background: rgba(255, 255, 255, 0.15);
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
border-radius: 2rem;
width: 80%;
height: 3rem;
padding: 1rem;
margin: 1%;
border: none;
outline: none;
color: #2c3338;
font-size: 1rem;
font-weight: bold;


}
.Input::placeholder {
  color: #b4b4b4;
    font-weight: 100;
    font-size: 1rem;
}

/* Style the input when it has focus */
.Input:focus {
  display: inline-block;
  box-shadow: 0 0 0 0.2rem #b9abe0;
  backdrop-filter: blur(12rem);
  border-radius: 2rem;
  outline: none;
}

.ButtonContainer{
  margin: 1rem 0 2rem 0;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin-top:60px;
}
.WelcomeText{
  margin: 3rem 0 8rem 0;
  color: rgb(195, 128, 250);

}
.back-btn {
  background-color: #8f8787;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 500px;
margin-top: 20px;}

.back-btn:hover {
  background-color: #4a4b4a;
}
.LoginWidth{
  cursor:pointer;
}
.HorizontalRule{
  width:90%;
  height:0.3rem;
  border-raduis:0.8rem;
  border:none;
  background: linear-gradient(to right, #14163c 0%, #03217b 79%);
  background-color: #ebd0d0;
  margin:1.5rem 0 1rem 0;
  backdrop-filter:blur(25px);
}
.ForgotPassword{
  cursor: pointer;
}
.MainContainer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 60vw;
  background: rgba(228, 200, 200, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #181616;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-left:14%;
}
.MainContainer3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 60vw;
  background: rgba(228, 200, 200, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #181616;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin-left:14%;
}
.InputContainerprofile{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 32%;
  width: 100%;
  margin-top: 8%;
  
}

.MainContainerProfile{
display: flex;
align-items: center;
flex-direction: column;
height: 100vh;
width: 60vw;
background: rgba(255, 255, 255, 0.15);
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
backdrop-filter: blur(8.5px);
-webkit-backdrop-filter: blur(8.5px);
border-radius: 10px;
color: #ffffff;
text-transform: uppercase;
letter-spacing: 0.4rem;
margin-left:14%;





@media only screen and (min-width: 360px) {
  width: 80vw;
  height: 90vh;

  h4 {
    font-size: small;
  }
}
@media only screen and (min-width: 411px) {
  width: 80vw;
  height: 90vh;
}

@media only screen and (min-width: 768px) {
  width: 80vw;
  height: 80vh;
}
@media only screen and (min-width: 1024px) {
  width: 70vw;
  height: 50vh;
}
@media only screen and (min-width: 1280px) {
  width: 30vw;
  height: 80vh;
}

}

.Button{
  background: linear-gradient(to right, #14163c 0%, #03217b 79%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 65%;
  height: 3rem;
  border: none;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
}
.ButtonConfiguration{

  background: linear-gradient(to right, #14163c 0%, #03217b 79%);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  width: 65%;
  height: 3rem;
  border: none;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  margin-top:28px;
}

.Button:disabled{
  background: silver;
  pointer-events: none;
}

/* /********************Form Versionner Configuration*********************** */
.container {
  background: linear-gradient(135deg, #8A8FF7 0%, #373b44 100%);
  /* Add any additional styling you want for the 3D background */
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1000px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin-left:180px;
  margin-top: 120px;
}

.title {
  font-size: 28px;
  color: #8A8FF7;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color:#8A8FF7;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: #8A8FF7;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color:black;
}

.submit {
  border: none;
  outline: none;
  background-color: #8A8FF7;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: #8A8FF7;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}